body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  /* text-align: center; */
  color: #fff;
  font-weight: 100;
}

.cellphone {
  margin: 50px;
}
